<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Nicky/IdeaProjects/CEN4072Project">
        <classes>
            <class name="HistoryTest" />
            <class name="ProfileTest" />
            <class name="SearchTest" />
            <class name="SourceEditorTest" />
            <class name="VisualEditorTest" />
            <class name="WatchlistTest" />
            <class name="LogoutTest" />
            <class name="LoginTest" />
        </classes>
    </test>
</suite>